<header>
  <h1 style="margin-top:0.25em">{{pageTitle}}</h1>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <link rel="stylesheet" type="text/css" href="./style.css">

  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">


  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

  <div class='navbar'>
    <ul>
      <li><a href="/">Essentials</a></li>
      <li><a href="/setup">Set-up</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </div>

</header>
