<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="./style.css">

  	<head>
      <meta charset="utf-8">
      <title>Some website</title>
    </head>

    <body>
      {{> header}}
      <ul>
        <li>
          <a href = "https://github.com/Rfrixy/AiimsPythonNotebooks"> Jupyter notebooks </a>
        </li>
        <li>
          <a href = "https://docs.google.com/presentation/d/1hocx4ZkmvpcMyxR20ljqkMbaLspTTg4maoz9k8MqaoY/edit?usp=sharing"> First presentation </a>
        </li>
        <li>
          <a href = "https://docs.google.com/presentation/d/1i1i27cfPjdafahxs2kB1blR2kSRdFCEQKt3z6jQhHpw/edit?usp=sharing"> Second presentation </a>
        </li>
        <li>
          <a href = "https://docs.google.com/presentation/d/1haohAHB1G26CXyzWULO5QrH1TgyPOdep0ztbp9p-w0o/edit?usp=sharing"> Third notebooks </a>
        </li>
        <li>
          <a href = "https://docs.google.com/document/d/10dFSauVmFUxqfzaepugz0jjrvCp00aH43HcguLyZPMQ/edit?usp=sharing
"> Old notes </a>
        </li>
      </ul>


      {{> footer}}
    </body>
</html>
