<!DOCTYPE html>
<html>
  	<head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
    </head>

    <body>
      {{> header}}
      <ul>
        <li>
          <a href = "https://docs.python.org/3/tutorial/"> Official docs </a>
        </li>
        <li>
          <a href = "https://automatetheboringstuff.com"> Learn while you do, open py tutorial</a>
        </li>
        <li>
          <a href = "https://drive.google.com/file/d/0B5tw9syS7DgXaE5uRWQwb3pVZzA/view?usp=sharing">Book on python crash course</a>
        </li>
        <li>
          <a href = "https://drive.google.com/file/d/1NqPdY4VYTccFv2MfSKNMQ_XluTYwCeb2/view?usp=sharing">Book on python ML</a>
        </li>
      </ul>

      <!-- {{> footer}} -->
    </body>
</html>
