<!DOCTYPE html>
<html>
  	<head>
      <meta charset="utf-8">
      <title>Help page</title>
    </head>

    <body>
      {{> header}}
      <ul>
        <li>
          <a href = "https://www.python.org/downloads/"> Get python 3 here </a>
        </li>

        <li>
          <a href = "https://atom.io"> Atom </a>
        </li>
        <li>
          <a href = "https://www.jetbrains.com/pycharm/"> Pycharm </a>
        </li>
        <li>
          <a href = "http://jupyter.org">Jupyter docs</a>
        </li>
      </ul>

      <p>
         Recommended packages for atom:
         Minimap, Platformio-ide-terminal, atom-live-server
      </p>
      {{> footer}}
    </body>
</html>
